table {
    width: 100%;
  }

  @media (min-width: 992px) { 
  .content-history{
     margin-top:8%;
  }
  
  .content-history p{
    margin-top: 62% !important;
  }

}
  .content{
    padding: 1em !important;
    border: none !important;
  }

  .padding1{
    padding: 1em;
  }

  
