<div class="card-body">
    
    <dx-data-grid id="tableTransaction" 
    [dataSource]="dataSource" 
    [showBorders]="false"
    [showColumnLines]="false" [showRowLines]="true" 
    [rowAlternationEnabled]="true"
     (onExporting)="exportGrid($event)"
    
    >
         <!-- Filtros -->
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
     
        <!-- Seleccion -->
        <dxo-selection mode="multiple"></dxo-selection>

        <!-- Paginacion -->
         <dxo-paging [pageSize]="10"></dxo-paging>
         <dxo-pager [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[ 10, 20, 50, 100]" [showInfo]="true"></dxo-pager>
     
         <!-- Exportar -->
         <dxo-export [enabled]="true" [allowExportSelectedData]="true"  
         [formats]="['xlsx', 'pdf']"></dxo-export>
     
         <!-- Operaciones Remotas -->
         <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="false" [paging]="true" [summary]="true"></dxo-remote-operations>
     
         <!-- Modificacion columnas -->
         <dxo-column-chooser mode="select" [allowSearch]="false"></dxo-column-chooser>
        
         <dxo-search-panel [visible]="true"></dxo-search-panel>
        
         <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

        <!-- Columnas -->       
        <dxi-column dataField="date"  dataType="date"></dxi-column>
        <dxi-column dataField="merchInvoice" caption="Merchant Invoce"></dxi-column>
        <dxi-column dataField="merchant"></dxi-column>
        <dxi-column dataField="location"></dxi-column>
        <dxi-column dataField="icao" caption="ICAO/IATA"></dxi-column>
        <dxi-column dataField="dodaac" caption="DoDAAC"></dxi-column>
        <dxi-column dataField="tail" caption="Tail"></dxi-column>
        <dxi-column dataField="item" caption="Item"></dxi-column>
        <dxi-column dataField="total" cellTemplate="total" caption="Total"></dxi-column>
        <dxi-column dataField="card" caption="Card"></dxi-column>
        <dxi-column dataField="status" cellTemplate="status" caption="Status"></dxi-column>
        
        <div *dxTemplate="let row of 'total'">
            {{row.value | currency: 'USD'}}
        </div>
        <div *dxTemplate="let row of 'status'" class="text-primary">
            {{row.value}}
        </div>

        <div *dxTemplate="let element of 'detail'">
            <div class="master-detail-caption">                
                <div class="example-element-detail">
                    <div class="row padding1">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide col-sm-4" data-bs-touch="false">
                            <div class="carousel-inner">
                            <div class="carousel-item active">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>
                            </div>
                            <div class="carousel-item">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-bordered">
                                <tr>
                                    <th scope="col">Merchant Description</th>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Retail Price</th>
                                    <th scope="col">Gov Price</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr *ngFor="let item of element.key.detail">
                                    <td>{{item.productCode}}</td>
                                    <td>{{item.productCode}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.retailPrice | currency: 'USD'}}</td>
                                    <td>{{item.govPrice | currency: 'USD'}}</td>
                                    <td>{{item.amount | currency: 'USD'}}</td>
                                    <td>
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-dark me-md-2 btn-sm" type="button">Dispute</button>
                                            <button class="btn btn-primary btn-sm" type="button">Accept</button>
                                          </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total</th>
                                    <th>{{element.key.total  | currency: 'USD'}}</th>
                                </tr>
                            </table>
                            <div class="content-history">  
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p><b>Card Number</b> {{element.key.card}}</p>
                                    </div>
                                    <div class="col-sm-8">
                                    <table class="text-black-50">
                                        <tr>
                                            <td>History</td>
                                            <td>Date and Time</td>
                                        </tr>
                                        <tr>
                                            <td>Transaction Created</td>
                                            <td>{{element.key.transactionCreated | date: 'short'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Transaction Delayed</td>
                                            <td>{{element.key.transactionDelayed | date: 'short'}}</td>
                                        </tr>
                                    </table>
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Comments</label>
                                    </div>
                                    </div>
                                </div> 
                            </div>                                       
                        </div>
                    </div>                                       
                </div>                    
            </div>           
        </div>

    </dx-data-grid>
</div> 
