<div class="card content bgsecundary">   
    <div class="card bg-primary">
        <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                    <table class="example-full-width" cellspacing="0">
                        <tr><td><p class="h5 text-center">Accept Transactions</p></td></tr>
                        <tr><td rowspan="3"><p class="h5 text-center">{{acceptTransactions.count}}</p></td></tr>
                        <tr class="text-primary">
                            <td>New</td>
                            <td>{{acceptTransactions.new}}</td>                            
                        </tr>
                        <tr class="text-primary">
                            <td>Disputed</td>
                            <td>{{acceptTransactions.disputed}}</td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <table class="example-full-width" cellspacing="0">
                    <tr><td><p class="h5 text-center">Invoice Task</p></td></tr>
                    <tr><td rowspan="3"><p class="h5 text-center">{{invoiceTask.count}}</p></td></tr>
                    <tr class="text-primary">
                        <td>New</td>
                        <td>{{invoiceTask.new}}</td>
                        <td>Disputed</td>
                        <td>{{invoiceTask.disputed}}</td>
                    </tr>
                    <tr class="text-primary">
                        <td>Delinquent</td>
                        <td>{{invoiceTask.delinquent}}</td>
                        <td>Rejected</td>
                        <td>{{invoiceTask.rejected}}</td>
                    </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>  

    <div>
        <br>
        <p class="h3">Current Transactions</p>

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="{{acceptTransactions.count}} Transactions to Accept">
                <div class="card">
                    <app-transaction-accept></app-transaction-accept>   
               </div>            
            </mat-tab>
            <mat-tab label="42 Transactions to Review">
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

